@import "../../@core/styles/@theme.scss";

h1, h2, h3, h4, h5, h6 {
  @include fontFamily();

  color: $primaryText;
}

p, strong, i, b, u, pre, li {
  @media (min-width: 728px) {
    font-size: 18px;
  }

  font-size: 18px;
  letter-spacing: -0.004em;
  line-height: 1.58;
  margin-top: 0.42em;
  margin-bottom: -0.46em;

  @include fontFamily();

  color: $primaryText;
}

h1 {
  @media (min-width: 728px) {
    margin-top: 1.95em;
    font-size: 34px;
  }

  @media (min-width: 552px) and (max-width: 727.98px) {
    margin-top: 1.2em;
    font-size: 30px;
  }

  line-height: 48px;
  font-size: 40px;
  margin-bottom: 0.28em;
  letter-spacing: -0.022em;
}

h2 {
  @media (min-width: 728px) {
    margin-top: 1.95em;
    font-size: 34px;
  }

  @media (min-width: 552px) and (max-width: 727.98px) {
    margin-top: 1.2em;
    font-size: 30px;
  }

  margin-bottom: 0.28em;
  letter-spacing: -0.022em;
  line-height: 1.12;
  font-weight: 600;
}

h3 {
  @media (min-width: 728px) {
    margin-top: 1.72em;
    font-size: 26px;
  }

  @media (min-width: 552px) and (max-width: 727.98px) {
    margin-top: 1.23em;
    font-size: 24px;
  }

  font-weight: 600;
  margin-bottom: 0.31em;
  line-height: 1.18;
  letter-spacing: -0.022em;
}
