@import "../../@core/styles/@theme.scss";

.ui-gallery--glide-wrapper {
  background: rgba(0, 0, 0, 0.5);

  position: fixed;
  z-index: 99999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.ui-gallery--slideshow {
  .glide__slide {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;

    .slider__img_wrapper {
      max-width: 90vw;
      max-height: 80vh;

      img {
        width: 100%;
        border-radius: $base-spacing / 2;

        @include boxShadow();
      }
    }
  }
}
