@import "../../@core/styles/@theme.scss";

.ui-gallery {

  &--loading {
    position: absolute;

    .spinner {
      width: 40px;
      height: 40px;

      position: relative;
      margin: 100px auto;
    }

    .double-bounce1, .double-bounce2 {
      width: 100%;
      height: 100%;
      border-radius: 50%;
      background-color: #f1f1f1;
      opacity: 0.6;
      position: absolute;
      top: 0;
      left: 0;

      -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
      animation: sk-bounce 2.0s infinite ease-in-out;
    }

    .double-bounce2 {
      -webkit-animation-delay: -1.0s;
      animation-delay: -1.0s;
    }

    @-webkit-keyframes sk-bounce {
      0%, 100% {
        -webkit-transform: scale(0.0)
      }
      50% {
        -webkit-transform: scale(1.0)
      }
    }

    @keyframes sk-bounce {
      0%, 100% {
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
      }
      50% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
      }
    }
  }

  .grid-item {
    height: 150px;
    margin-bottom: 15px;

    p {
      text-align: center;
      font-size: 16px;
      margin-top: -5px;
    }

    @include sm() {
      height: 200px;
    }

    @include lg() {
      height: 280px;
    }
  }

  img {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    border-radius: 8px;
    transition: all 0.250s linear;
    width: 100%;
    height: 100%;
    object-fit: cover;

    &.loaded {
      opacity: 1;
      visibility: visible;
      transition: all 0.250s linear;
    }

    &:hover {
      opacity: 0.8;
      transition: all 0.250s linear;
    }
  }
}

.ui-gallery--wrapper {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s linear;
  will-change: opacity;

  z-index: 1000;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;

  .ui-gallery--current-image {
    position: relative;
    opacity: 0;
    visibility: hidden;

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: stretch;

    .ui-gallery--close {
      position: absolute;
      right: -16px;
      top: -16px;
      background: #eee;
      border-radius: 50%;
      width: 32px;
      height: 32px;
      text-align: center;
      line-height: 32px;
      cursor: pointer;

      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      align-content: stretch;

      opacity: 0;
      visibility: hidden;

      transition: opacity 0.5s linear;
      will-change: transition;
    }

    &-visible {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.5s linear;
      will-change: opacity;

      .ui-gallery--close {
        opacity: 1;
        visibility: visible;

        transition: opacity 0.5s linear;
        will-change: transition;
      }

    }
  }

  &.ui-gallery--wrapper-visible {
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s linear;
    will-change: opacity;
  }

  .ui-gallery--current-image-wrapper {
    position: relative;
  }

  .ui-gallery--image-wrapper {
    position: relative;
  }

  img {
    max-width: 80vw;
    height: auto;
    max-height: 90vh;
    visibility: hidden;
    opacity: 0;
    user-select: none;
    border-radius: 8px;

    &.loaded {
      opacity: 1;
      visibility: visible;
      transition: all 0.250s linear;
    }
  }
}
