.header {
  height: 300px;
  width: 1070px;
  margin: 0 auto;

  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;

  position: relative;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;

  h1 {
    text-align: center;
    color: #fff;
    z-index: 9;
    font-weight: 700;
    margin: 0;
    padding-right: $base-spacing * 3;
    padding-left: $base-spacing * 3;
    padding-bottom: 0;

    @include sm() {
      padding-top: 0;
    }

    @media (min-width: 728px) {
      font-size: 36px;
    }

    @media (min-width: 552px) and (max-width: 727.98px) {
      font-size: 32px;
    }

    line-height: 50px;
    font-size: 42px;
    letter-spacing: -0.022em;
  }

  &.header-full-width {
    width: 100%;
  }

  &:before {
    background: rgba(0, 0, 0, 0.4);
    content: " ";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
  }

  @include sm() {
    height: 500px;
  }

  .header--bg-top-gradient {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: linear-gradient(150deg, #53f 15%, #05d5ff 70%, #a6ffcb 94%);
  }

  p.breadcrumbs {
    color: #fff;
    font-size: 18px;
    display: none;

    @include sm() {
      display: block;
    }

  }

  .header--metadata {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    max-height: 80px;
    margin-top: 20px;
    overflow: hidden;

    @include md() {
      margin-top: 40px;
    }
  }

  .header--content {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: start;
    align-content: center;
    width: 100%;

    @include lg() {
      width: $base-content-width;
    }

    @include xl() {
      width: $extended-content-width;
    }
  }

  .header--row {
    padding: 0 $base-spacing * 3;

    @include lg() {
      padding: 0;
    }

    h1 {
      padding: 0;
      text-align: left;
      overflow: hidden;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      line-height: 42px;
      max-height: 84px;

      @include sm() {
        padding-top: 0;
        max-height: 143px;
      }
    }

    .blog-metadata-light {
      color: #eee;
      font-size: 16px;
      font-weight: 700;
      line-height: 1.35;
      margin: 0;
    }

    .blog-metadata-dark {
      font-weight: 500;
      color: #fff;
      margin: 0;
      font-size: 16px;
    }

    .blog-metadata {
      margin-right: 40px;

      &.author-image, &.blog-updated, &.blog-length {
        display: none;

        @include md() {
          display: block;
        }

      }
    }
  }

  .header--bg-bottom-gradient {
    background-image: -webkit-gradient(linear, left top, right top, from(#0089ff), to(#1bda93));
    background-image: linear-gradient(to right, #0089ff, #1bda93);
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $base-spacing * 3;
  }

}
