@import "../../@core/styles/@theme.scss";

.ui-card {
  border-radius: $base-spacing;
  min-height: 100px;
  width: 100%;
  overflow: hidden;
  position: relative;

  @include cardShadow();

  &-skeleton {
    @include skeleton();
  }
}
