@import "src/@core/styles/@theme";

.ui-card-toolbar {
  bottom: 0;
  right: 0;
  position: absolute;
  height: 55px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 $base-spacing;
  z-index: 1;

  &--top {
    top: 0;
    bottom: auto;
    z-index: 1;
  }

  &--text-center p {
    width: 100%;

    text-align: center;
  }

  &--text-left p {
    text-align: left;
  }

  .ui-i {
    cursor: pointer;
    fill: black;
    height: 20px;
    width: 20px;
    margin: 0 0 0 $base-spacing * 1.5;
  }

  p {
    color: $white;
    font-weight: 700;
    font-size: 14px;
    height: 32px;
    line-height: 32px;
    margin: 0;
    padding: 0 24px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
