@import "../../@core/styles/@theme.scss";

.ui-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.ui-i {
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: contain;
  width: $icon-base-size * 1.5;
  height: $icon-base-size * 1.5;

  margin-left: $base-spacing;

  &:first-child {
    margin-left: 0;
  }

  &.ui-i--white {
    svg {
      fill: #fff;
    }
  }

  &.ui-i--gray {
    svg {
      fill: #eee;
    }
  }

  &.ui-i--sm {
    width: 20px;
    height: 20px;

    svg {
      width: 20px;
      height: 20px;
    }
  }

  &.ui-i--md {
    width: $icon-base-size * 2;
    height: $icon-base-size * 2;

    svg {
      width: $icon-base-size * 2;
      height: $icon-base-size * 2;
    }
  }

  &.ui-i--lg {
    width: $icon-base-size * 3;
    height: $icon-base-size * 3;

    svg {
      width: $icon-base-size * 3;
      height: $icon-base-size * 3;
    }
  }

  &.ui-i--auto {
    width: 100%;
    height: 100%;
  }
}
