@import "systematize";
//Variables & Mixins
@import "animations";
@import "variables";
@import "shadows";
@import "transitions";
@import "colors";
@import "typography";
@import "breakpoints";
@import "mixins";
@import "atomics";

body {
  @include fontFamily();

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  float: left !important;
  width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
  overflow-y: scroll;

  font-size: 18px;

  &.body--disable-scroll {
    overflow: hidden;
  }
}

html {
  color: #333;
}

body, html {
  margin: 0;
  padding: 0;

  height: 100%;

  -webkit-tap-highlight-color: transparent;
}

::selection {
  background: #0965b0;
  color: #fff;
}

input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
}

.fullwidth-wrapper {
  width: 100%;
  overflow: visible;

  &.with-bg {
    margin: 25px 0;

    &.bg-light {
      background: #f9f9f9;
      border-top: 1px solid #eee;
      border-bottom: 1px solid #eee;
    }
  }
}

