//Variables & Mixins
@import "variables";
@import "shadows";
@import "transitions";
@import "colors";
@import "typography";
@import "breakpoints";
@import "mixins";
//Components
@import "fonts";
@import "icons";
@import "buttons";
@import "divider";
@import "../../components/UIModal/UIModal";
@import "../../components/UIInput/UIInput";
@import "../../components/UIGrid/UIGrid";
@import "../../components/UINotifications/UINotifications";
@import "../../components/UIGallery/UIGallery";
@import "../../components/UIMenu/UIMenu";

body {
  @include fontFamily();

  padding: 0;
  margin: 0;
}

.page-container {
  flex-grow: 1;

  max-width: $base-content-width;
  width: 100%;
  margin: 0 auto;
  margin-top: $base-spacing * 8;

  padding: $base-spacing * 3;

  &.large {
    max-width: $extended-content-width;
  }

  &.fullwidth {
    max-width: 100%;
  }


}