@keyframes blur {
  0% {
    -webkit-filter: blur(5px);
  }
  100% {
    -webkit-filter: blur(0px);
  }
}

.blur {
  -webkit-animation: blur 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: blur 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}
