.mt0 {
  margin-top: 0 !important;
}

.mt25 {
  margin-top: 25px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.pointer {
  cursor: pointer !important;
}

.ml10 {
  margin-left: 10px !important;
}

.ml5 {
  margin-left: 5px !important;
}

.w-200 {
  width: 200px !important;
}

.mh250 {
  min-height: 250px;
}
