.btn {
  cursor: pointer;
  font-size: 14px;
  display: block;
  border: none;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  float: left;
  box-shadow: 0 0 4px #999;
  font-weight: 600;

  border-radius: $base-spacing / 2;

  height: $base-spacing * 5.5;
  line-height: $base-spacing * 5.5;
  padding: 0 $base-spacing * 2;

  transition: all 0.3s;

  margin-left: $base-spacing * 2;

  &:focus {
    outline: none;
  }

  &:first-of-type {
    margin-left: 0;
  }

  &.btn--full-width {
    width: 100%;
  }

  &.btn--primary {
    color: #ffffff;
    background: #009688;

    &:hover {
      background-color: #37474f;
      transition: all 0.3s;
    }

    &:active {
      text-decoration: underline;
    }
  }

  &.btn--danger {
    color: #ffffff;
    background: #961700;

    &:hover {
      background-color: #4f2f28;
      transition: all 0.3s;
    }

    &:active {
      text-decoration: underline;
    }
  }

  &.btn--success {
    color: #ffffff;
    background: #4d9600;

    &:hover {
      background-color: #294f33;
      transition: all 0.3s;
    }

    &:active {
      text-decoration: underline;
    }
  }


  &.btn--center {

  }

  &.btn--medium {

  }

  &.btn--large {

  }
}
