$white: #fff;
$primaryText: #202124;
$secondaryText: #5f6368;
$tertiaryText: #444;

$teal: #00695C;
$lightGreen: #8bc34a;

//TODO: Add stylesheet with backgrounds
.bg-light {
  background: #f9f9f9;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
}
