@mixin boxShadow() {
  box-shadow: 0 4px 6px -1px rgba(0,0,0,0.1),0 2px 4px -1px rgba(0,0,0,0.06);
}

@mixin cardShadow() {
  @include boxShadow();
}

@mixin dropDownShadow() {
  box-shadow: 0 50px 100px -20px rgba(50, 50, 93, 0.25), 0 30px 60px -30px rgba(0, 0, 0, 0.3);
}

// TODO: Move
@mixin skeleton() {
  @include boxShadow();

  border-radius: 8px;
  background-image: radial-gradient(circle farthest-corner at 18.7% 37.8%, #fafafa 0%, #e1eaee 90%);
  background-size: 200% 200% !important;
  animation: animFadeIn 250ms linear !important;
  min-height: 280px;
}
