@mixin row($gutter) {
  max-width: calc(100% + (#{$gutter} * 2));
  width: calc(100% + (#{$gutter} * 2));
  margin: $gutter -$gutter;

  &.grid--collapse-top {
    margin-top: -$gutter;
  }

  &.grid--collapse-bottom {
    margin-bottom: -$gutter;
  }

  > .tile {
    margin: $gutter;
  }

  &.grid--small-tiles-1 {
    > .tile {
      flex: 1;
    }
  }

  &.grid--small-tiles-2 {
    > .tile {
      flex: 0 0 calc(50% - (#{$gutter} * 2));
      width: calc(50% / 2);
    }
  }

  &.grid--small-tiles-3 {
    > .tile {
      flex: 0 0 calc((100% / 3) - (#{$gutter} * 2));
      width: calc(50% / 3);
    }
  }

  &.grid--small-tiles-4 {
    > .tile {
      flex: 0 0 calc((100% / 4) - (#{$gutter} * 2));
      width: calc(50% / 4);
    }
  }

  &.grid--small-tiles-5 {
    > .tile {
      flex: 0 0 calc((100% / 5) - (#{$gutter} * 2));
      width: calc(50% / 5);
    }
  }

  &.grid--small-tiles-6 {
    > .tile {
      flex: 0 0 calc((100% / 6) - (#{$gutter} * 2));
      width: calc(50% / 6);
    }
  }

  // Media queries
  @include media-breakpoint-up(sm) {
    &.grid--medium-tiles-1 {
      > .tile {
        flex: 0 0 100%;
      }
    }

    &.grid--medium-tiles-2 {
      > .tile {
        flex: 0 0 calc((100% / 2) - (#{$gutter} * 2));
        width: calc(50% / 2);
      }
    }

    &.grid--medium-tiles-3 {
      > .tile {
        flex: 0 0 calc((100% / 3) - (#{$gutter} * 2));
        width: calc(50% / 3);
      }
    }

    &.grid--medium-tiles-4 {
      > .tile {
        flex: 0 0 calc((100% / 4) - (#{$gutter} * 2));
        width: calc(50% / 4);
      }
    }

    &.grid--medium-tiles-5 {
      > .tile {
        flex: 0 0 calc((100% / 5) - (#{$gutter} * 2));
        width: calc(50% / 5);
      }
    }

    &.grid--medium-tiles-6 {
      > .tile {
        flex: 0 0 calc((100% / 6) - (#{$gutter} * 2));
        width: calc(50% / 6);
      }
    }
  }
}

@mixin column($gutter) {
  > .tile {
    margin-bottom: $gutter;
  }
}
