@import "../../@core/styles/@theme.scss";
@import "UIGridDirections";

.grid-item {
  @include skeleton();

  display: block;
  height: 150px;

  @include sm() {
    height: 200px;
  }

  @include lg() {
    height: 280px;
  }

  p {
    animation: animFadeIn 250ms linear !important;
  }
}

.grid--responsive {
  @include xs() {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: stretch;
  }
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex: 1;

  max-width: 100%;
  width: 100%;
}

.grid--direction-row {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  align-content: stretch;
}

.grid--direction-column {
  flex-wrap: nowrap;
  flex-direction: column;
}

.grid--auto {
  @extend .grid;

  justify-content: normal;

  > .tile {
    flex-shrink: 0;
    flex-grow: 0;
    flex-basis: auto;
  }
}

.grid--collapse-top,
.grid--collapse-bottom {
  @extend .grid;
}

.grid--collapse-top {
  margin-top: 0;
}

.grid--collapse-bottom {
  margin-bottom: 0;
}

.grid--align-center-vertical {
  @extend .grid;

  align-items: center;
}

.grid--align-center-both {
  @extend .grid;

  align-items: center;
  justify-content: center;
}

.grid {
  @include row(0px);
}

.grid--gutter-x1 {
  @include row($base-spacing);
}

.grid--gutter-x2 {
  @include row($base-spacing * 2);
}

.grid--gutter-x3 {
  @include row($base-spacing * 3);
}

.grid--gutter-x4 {
  @include row($base-spacing * 4);
}

.grid--gutter-x5 {
  @include row($base-spacing * 5);
}

.grid--column {
  @include column(0px);
}

.grid--column.grid--gutter-x1 {
  @include column($base-spacing);
}

.grid--column.grid--gutter-x2 {
  @include column($base-spacing * 2);
}

.grid--column.grid--gutter-x3 {
  @include column($base-spacing * 3);
}

.grid--column.grid--gutter-x4 {
  @include column($base-spacing * 4);
}

.grid--column.grid--gutter-x5 {
  @include column($base-spacing * 5);
}

.grid-container {
  display: grid;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  justify-items: stretch;
  align-items: stretch;


  &.grid-four-columns {
    grid-template-columns: 1fr;

    @include sm() {
      grid-template-columns: 1fr 1fr;
    }

    @include md() {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }

  &.grid-three-columns {
    grid-template-columns: 1fr;

    @include sm() {
      grid-template-columns: 1fr 1fr;
    }

    @include md() {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  &.grid-two-columns {
    grid-template-columns: 1fr;

    @include sm() {
      grid-template-columns: 1fr 1fr;
    }
  }
}
