@import "../../@core/styles/@theme.scss";

.divider {
  width: 100%;

  &.divider-small {
    margin-top: $base-spacing;
    margin-bottom: $base-spacing;
  }

  &.divider-medium {
    margin-top: $base-spacing *2;
    margin-bottom: $base-spacing * 2;
  }

  &.divider--transparent {
    background: transparent !important;
  }

  &.divider-large {
    margin-top: $base-spacing * 2;
    margin-bottom: $base-spacing * 2;
  }

  &.divider-border {
    border-top: 1px solid $primaryText;
  }

  &.divider--horizontal {
    background: #f1f1f1;

    width: calc(100% - 24 * 2px);
    margin: 1em 0;
    height: 1px;
  }

  &.divider--vertical {
    background: #f1f1f1;

    width: $base-spacing  * 10;
  }
}
