@import "../../@core/styles/@theme.scss";

.notification {
  @include cardShadow();

  width: 100%;
  border-radius: $base-spacing;
  margin-bottom: $base-spacing * 2;
  box-sizing: border-box;
  padding: 16px 24px;

  transition: all 0.25s linear;
  opacity: 0;

  p, strong {
    color: $white;
    margin: 0;
    font-size: 16px;
  }

  &.notification--error {
    background: #E57572;
    color: #fff;
  }

  &.notification--success {
    background: #95CE67;
    color: #fff;
  }

  &.notification--rendering {
    opacity: 0;
  }

  &.notification--visible {
    opacity: 1;
  }
}
