.ui-modal--container {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  z-index: 1000;

  @include fadeOut();

  &.ui-modal--container-with-iframe {
    iframe {
      width: 100%;
      border: 0;
      height: calc(90vh - 85px);
    }
  }

  &.ui-modal--container-with-html .ui-modal--content {
    padding: $base-spacing * 3;
  }

  &.ui-modal--container--visible {
    @include fadeIn();
  }

  .ui-modal--wrapper {
    background: $white;
    width: 85vw;
    min-height: 300px;
    border-radius: $border-radius;
    max-height: 80vh;
    overflow: hidden;

    @include boxShadow();

    @include xl() {
      width: 1170px;
    }

    &.ui-modal--wrapper-md {
      width: 65vw;
      max-height: 70vh;
    }
  }

  .ui-modal--title-wrapper {
    padding: $base-spacing * 3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    border-bottom: 1px solid #eee;
    font-size: 18px;
  }

  .ui-modal--title {
    color: $primaryText;

    h5 {
      margin: 0;
    }
  }

  .ui-modal--buttons-close {
    cursor: pointer;
    color: $secondaryText;
  }
}
